[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==2.2.3"
pandas = "==2.2.2"
matplotlib = "==3.10.0"
pylint = "==3.3.5"
black = "==24.10.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
